
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background:#fafcfe;
}

/* Adicione este CSS ao seu arquivo de estilos global ou ao módulo CSS */
.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* styles.css */
.text-shadow-lg {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bg-gradient-custom {
  background: linear-gradient(135deg, #45b5d8, #59c8f0);
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.transform-scale-105 {
  transform: scale(1.05);
}

.blurGB {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter:blur(50px);
}